.instagram{
  position:absolute;
  top:10px;
  left:565px;
  border: 1px solid #e6e3e3;
  width:347.5px;
  height:605px;
  border-radius:1px;
  text-align: center;
}
.heading{
  position:relative;
  font-family:'Instagram Sans';
  font-size:40px;  
  font-style:bold; 
}
.label{
  position:absolute;
  top:110px;
  left:35px;
  width:280px;
  color:#888888;
  font-size:17px;
  font-weight:500;
}
.facebook{
  position:absolute;
   left:40px;
  width:270px;
  height:34px;
  top:170px;
  border-radius:8px;
  border:#e6e3e3;
  background-color: rgb(52, 153, 240);
}
.icon{
  position:absolute;
  height:17px;
  width:17px;
  top:178px;
  left:95px;
}
.label2{
  position:absolute;
  top:178px;
  left:120px;
  font-size:14px;
  font-weight: 500;
  color:#ffffff;
}
.or{
  position:relative;
  top:122.5px;
  font-size:13px;
  font-weight:500;
  color:#908e8e;
}
.break1{
  position:absolute;
  left:40px;
  width:105px;
  top:220px;
  background-color:#908e8e;
}
.break2{
  position:absolute;
  left:200px;
  width:105px;
  top:220px; 
  color:#908e8e;
}
#mobile{
  position:absolute;
  left:40px;
  width:262.5px;
  height:32.5px;
  top:255px;
  border-radius:3px;
  border:1px solid #dad7d7;
  background-color:#f9f9f9;
}
#mobile::placeholder{
  position:absolute;
  font-size:12px;
  left:10px;
  top:10px;
  color:#908e8e;

}
#fullname{
  position:absolute;
  left:40px;
  width:262.5px;
  height:32.5px;
  top:297px;
  border-radius:3px;
  border:1px solid #dad7d7;
  background-color:#f9f9f9;
}#fullname::placeholder{
  position:absolute;
  font-size:12px;
  left:10px;
  top:10px;
  color:#908e8e;
}
#username{
  position:absolute;
  left:40px;
  width:262.5px;
  height:32.5px;
  top:340px;
  border-radius:3px;
  border:1px solid #dad7d7;
  background-color:#f9f9f9;
}
#username::placeholder{
  position:absolute;
  font-size:12px;
  left:10px;
  top:10px;
  color:#908e8e;
}
#password{
  position:absolute;
  left:40px;
  width:262.5px;
  height:32.5px;
  top:385px;
  border-radius:3px;
  border:1px solid #dad7d7;
  background-color:#f9f9f9;
}
#password::placeholder{
  position:absolute;
  font-size:12px;
  left:10px;
  top:10px;
  color:#908e8e;
}
.description{
  position:absolute;
  top:425px;
  left:40px;
  font-size:12px;
  width:270px;
  color:#908e8e;
}
.more{
color:rgb(51, 82, 148);
text-decoration: none;
}
.decription2{
  position:absolute;
  top:470px;
  left:40px;
  font-size:12px;
  width:270px;
  color:#908e8e;
}
.term{
  color:rgb(51, 82, 148);
text-decoration: none;
}
.privacys{
  color:rgb(51, 82, 148);
text-decoration: none;
}
.cookies{
  color:rgb(51, 82, 148);
text-decoration: none;
}
.signup{
  position:absolute;
   left:40px;
  width:270px;
  height:32.5px;
  top:535px;
  border-radius:8px;
  border:#e6e3e3;
  background-color: rgb(81, 174, 255);
}
.rectangle2{
  position:absolute;
  width:347.5px;
  height:67.5px;
  left:565px;
  top:630px;
  border:1px solid #dad7d7;
  background-color:#ffffff;
}
.label3{
  position:relative;
  top: 650px;
  left:665px;
  font-size:14px;
  font-size:400;
}
.login{
  color:rgb(107, 150, 241);
  text-decoration: none; 
}
.laststatement{
  position:relative;
  top:572.5px;
  font-size:14px;
}
.google{
  position:absolute;
  top:750px;
  width:134px;
  height:40px;
  left:615px;
}
.microsoft{
  position:absolute;
  top:750px;
  width:110px;
  height:40px;
  left:757.5px;
}

.meta{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:315px;
  font-size: 12px;
  text-decoration: none;
}
.about{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:357.5px;
  font-size: 12px;
  text-decoration: none;
}
.blog{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:406px;
  font-size: 12px;
  text-decoration: none;
}
.jobs{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:445px;
  font-size: 12px;
  text-decoration: none;
}
.help{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:485px;
  font-size: 12px;
  text-decoration: none;
}
.api{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:525px;
  font-size: 12px;
  text-decoration: none;
}
.privacy{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:560px;
  font-size: 12px;
  text-decoration: none;
}
.terms{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:612.5px;
  font-size: 12px;
  text-decoration: none;
}
.topaccounts{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:660px;
  font-size: 12px;
  text-decoration: none;
}
.locations{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:745px;
  font-size: 12px;
  text-decoration: none;
}
.instagramLite{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:810px;
  font-size: 12px;
  text-decoration: none;
}
.contactUploading{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:900px;
  font-size: 12px;
  text-decoration: none;
}
.metaVerified{
  position:absolute;
  top:869px;
  color:#908e8e;
  left:1100px;
  font-size: 12px;
  text-decoration: none;
}
.signup::content{
  color:#ffffff;
}